<nav>
  <button (click)="scrollTo('home')">Home</button>
  <button (click)="scrollTo('about')">About Me</button>
  <button (click)="scrollTo('education')">Education</button>
  <button (click)="scrollTo('projects')">Projects</button>
  <button (click)="scrollTo('contact')">Contact</button>
</nav>

<div id="home" class="home-section">
    <app-decrypt-text [text]="homeText" [revealSpeed]="100"></app-decrypt-text>
</div>


<div id="about" class="about-section">
  <div class="about-content">
    <div class="about-title">
      <h2>{{sectionData.aboutSection.title}}</h2>
    </div>
    <div class="about-text">
      <p>
       I am currently in my final semester of school, eagerly working towards completing my degree. As a passionate student, I am dedicated to learning and improving as much as I can in the field of software engineering. 
       My goal is to constantly enhance my skills and stay up-to-date with the latest advancements in technology.<br><br>

       Outside of academics, I have a deep love for Formula 1 racing, which fuels my excitement for innovation and precision. 
       I am also an avid gamer, enjoying the thrill and challenge of various gaming genres. 
       Additionally, I cherish spending time outdoors, embracing nature, and seeking adventure in the great outdoors.<br><br>

      Whether it’s coding, racing, gaming, or exploring nature, I am driven by a relentless curiosity and a desire to excel in everything I do.<br> 
      </p>
    </div>
  </div>
  <div class="about-images">
    <img src="assets/profile-picture2.jpg" alt="Tristan Fry">
  </div>
</div>

<!-- <div id="education" class="education-section">
    <div class="education-container">
        <div class="education-title">
            <h2>EDUCATION</h2>
        </div>
        <div class="education-details">
            <p>BCS Computer Science<br>Univeristy of Houston - December 2024</p>
        </div>
    </div>
</div> -->

<div id="education" class="content-grid">
    <div class="grid-item education-section">
        <div class="education-container">
            <div class="education-title">
                <h2>EDUCATION</h2>
            </div>
            <div class="education-details">
                <p>BCS Computer Science<br>University of Houston - December 2024</p>
            </div>
        </div>
    </div>
    <div class="grid-item work-section">
        <div class="work-container">
            <div class="work-title">
                <h2>WORK EXPERIENCE</h2>
            </div>
            <div class="work-details">
                <p>Software Engineering Intern<br>Talos Energy - June 2024 - Present</p>
                <p>Sales Associate<br>Duluth Trading Co. October 2021 - Present</p>
            </div>
        </div>
    </div>
    <div class="grid-item technologies-section">
        <div class="technologies-container">
            <div class="technologies-title">
                <h2>TECHNOLOGIES</h2>
            </div>
            <div class="technologies-details">
                <p>Frontend: Angualr, React, Angular, TypeScript</p>
                <p>Backend: .Net, Express.js</p>
                <p>Languages: C#, SQL, Python, JavaScript</p>
            </div>
        </div>
    </div>
</div>







<div id="projects" class="projects-section">
    <h2>{{sectionData.projectsSection.title}}</h2>
    <p>{{sectionData.projectsSection.content}}</p>
</div>


<div id="contact" class="contact-section">
    <h2>Contact Me:</h2>
</div>
